@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    background-color: bisque;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    background: linear-gradient(
        150deg,
    rgb(234,217,236,1) 0%,
    rgb(235, 245, 198) 33%,
    rgb(232, 241, 208) 51%,
    rgb(238, 225, 153) 100%
);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    min-height: 100vh;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.logo{
    color: rgb(44, 44, 27);
    font-size: 25px;
    text-transform: uppercase;
}
.navbar ul{
    display: flex;
    align-items: center;
}
.navbar ul li{
    padding: 0 20px;
    font-size: 20px;
}
.navbar ul li a {
    color: aliceblue;
}
.navbar ul li a {
    color: grey;
}
#menu{
    display: none;
}
.menu-icono {
width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}
.header-content{
    display: flex;
    margin-top: 30px;
}
.header-txt{
    flex-basis: 50%;
    padding-right: 120px;
}

.header-txt h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
    line-height: 1;
    color: aliceblue;
    margin-bottom: 15px;
}
.header-txt p {
font-size: 20px;
color: #c1c1c1;
margin-bottom: 50px;
}



